<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tot.dao.TendencyTestDao">
 	<update id="updateMemberTendency">
        UPDATE MEMBER
        SET MEMBER_003 = #{code}
        WHERE MEMID = #{memId}
    </update>

    <select id="getCodeByResultType" resultType="String">
        SELECT CODEID
        FROM CODE
        WHERE codename = #{resultType}
    </select>

</mapper>

